<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
<title>{{ site.title }} - {{ page.title }}</title>
<link rel="stylesheet" href="/public/css/base.css">

<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ site.title }} - {{ page.title }}" />
<meta property="og:description" content="NOTO weblog" />
<meta property="og:site_name" content="NOTO" />
<meta property="og:image" content="https://noto.katsumataryo.com/public/images/background.jpg" />